@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}
.header {
  margin-top: 9.5rem;
}
.header-content {
  font-size: 2.7rem;
  line-height: 4rem;
  letter-spacing: 1;
}
.header-pos {
  position: absolute;
  top: 90px;
  width: 148px;
  height: 31px;
  background-color: #e92577;
  z-index: -1;
  border-radius: 4px;
}
.header-mail {
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 10%;
  
}

.image-item {
  border-top: 1.6rem solid rgba(233, 37, 119, 1);
  border-left: 1.3rem solid rgba(233, 37, 119, 1);
  border-radius: 3.5rem;
  

}
.info {
  color: #ea2678;
  z-index:2
}
.profile-item {
  border-radius: 12px;
  background-color: white;
  padding-bottom: 2rem;
  border-right: 1rem solid rgba(82, 82, 82, 0.5);
  border-bottom: 1rem solid rgba(82, 82, 82, 0.5);
}
.about {
  position: absolute;
  width: 90px;
  height: 18px;
  background-color: #82bbff;
  border-radius: 4px;
  z-index: -1;
  top: 18px;
}
.footer {
  position: absolute;
  width: 275px;
  height: 18px;
  background-color: #82bbff;
  top: 40px;
  left: 120px;
  z-index: 1;
}
.red{
  color: red;
}
.dark-mode {
  color: #fff;
  
}

.ellipse {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 1370px;
  top: 1935px;
  
  border: 21px solid #EA2678;
  box-sizing: border-box;
  border-radius: 50%; 
  
}
.ellipse2 {
box-sizing: border-box;
position: absolute;
width: 121px;
height: 121px;
left: 1038px;
top: 1230px;

border: 21px solid #525252;
border-radius: 50%; 
}
.ellipse3{
  
  position: absolute;
  width: 111px;
  height: 111px;
  left: 421px;
  top: -60px;
  border-radius: 50%; 
  
  background: #525252;
  
  }
.rectangle{
position: absolute;
width: 217px;
height: 59px;
left: 1316px;
top: 936px;

background: #EA2678;
border-radius: 29.5px;
}
.rectangle2{
  position: absolute;
width: 181px;
height: 49px;
left: -70px;
top: 1833px;

background: #525252;
border-radius: 29.5px;
}